.header-public{
    
    color: white;
}

#ul-nav{
    font-size: 18px !important;
    margin-left: 50px;
   /*  color: black !important; */
    font-weight: bold;
    text-align: center !important;
}

.nav-item{
    margin-right: 60px !important;
}

.nav-link :hover{
 color: rgb(255, 0, 179) !important;
}